$fontSize: 13px;
$font: Avenir, Helvetica, Arial, sans-serif, "PingFang SC", "微软雅黑";

$titleBarHeight: 40px;
$listItemHeight: 34px;

$menuItemHeight: 34px;
$selectHeight: 32px;

$iconSizeSmall: 16px;
$iconSizeMiddle: 32px;
$iconSizeLarge: 48px;

$menuZIndex: 9999;

$maskLayerZIndex: 999;
