@import "const";

%reset-margin-padding {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "DejaVu Mono", Avenir, Helvetica, Arial, sans-serif, "PingFang SC", "微软雅黑";
  font-size: $fontSize;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  height: 100%;

  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}

html, body, p, div, ul, li, hr {
  box-sizing: content-box;
  @extend %reset-margin-padding;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;

  &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: auto;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 4px;
  background-color: rgba(144, 147, 153, 0.8);
  transition: background-color .3s;
}

::-webkit-scrollbar-track { /*滚动条里面轨道*/
  width: 10px;
  border-radius: 4px;
}


.el-dialog {
  background-color: var(--n-color-bg-dialog) !important;

  &__header {
    padding: 12px !important;
  }

  &__title {
    color: var(--n-text-color-base) !important;
  }

  &__headerbtn {
    i {
      color: var(--n-text-color-base) !important;
    }
  }

  &__body {
    color: var(--n-text-color-base) !important;
    padding: 12px 20px !important;
  }
}

.el-form {
  &-item {
    &__label {
      color: var(--n-text-color-base) !important;
    }
  }
}

.el-message-box {
  border: none !important;
  background-color: var(--n-color-bg-dialog) !important;

  .el-message-box__header {
    .el-message-box__title {
      color: var(--n-text-color-base);
    }

    .el-message-box__headerbtn {
      .el-message-box__close {
        color: var(--n-text-color-base);
      }
    }
  }

  .el-message-box__content {
    color: var(--n-text-color-base);
  }
}

.el-button {
  border-width: 0 !important;
  //&:focus, &:hover {
  //  background-color: var(--n-color-hover) !important;
  //  color: var(--n-text-color-hover) !important;
  //  border-color: var(--n-border-hover) !important;
  //}

  &--primary {
    //color: var(--n-color) !important;
    background-color: var(--n-button-primary) !important;
    border-color: var(--n-button-primary) !important;

    &:hover, &:focus {
      background-color: var(--n-button-primary-hover) !important;
      //color: var(--n-text-color-base);
    }
  }

  &--text {
    color: var(--n-text-color-base) !important;

    i {
      font-size: 20px;
    }
  }

  &.is-disabled {
    color: #B8B8B8 !important;

    i {
      color: #B8B8B8 !important;
    }
  }
}

/** element ui reset **/
.el-input__inner, .el-textarea__inner {
  color: var(--n-text-color-base) !important;
  caret-color: var(--n-text-color-base);
  border-width: 0 !important;
  background-color: var(--n-input-bg-color) !important;

  &:focus {
    background-color: var(--n-input-bg-color) !important;
  }
}

.el-input {
  &-group {
    &__append {
      border-width: 0 !important;
      background-color: var(--n-input-bg-color) !important;

      .is-plain:hover, .is-plain:focus {
        background-color: transparent !important;
      }
    }
  }
}

.el-select-dropdown {
  border-color: #424247 !important;
  background-color: #424247 !important;

  &__item {
    color: var(--n-text-color-base) !important;
    background-color: #424247 !important;

    &:hover, &.selected {
      background-color: var(--n-color-modal) !important;
    }
  }

  .popper__arrow {
    border-bottom-color: #424247 !important;

    &:after {
      border-bottom-color: #424247 !important;
    }
  }
}