@import "const";

%reset-margin-padding {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "DejaVu Mono", Avenir, Helvetica, Arial, sans-serif, "PingFang SC", "微软雅黑";
  font-size: $fontSize;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  height: 100%;

  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}

html, body, p, div, ul, li, hr {
  box-sizing: content-box;
  @extend %reset-margin-padding;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;

  &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: auto;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 4px;
  background-color: rgba(144, 147, 153, 0.8);
  transition: background-color .3s;
}

::-webkit-scrollbar-track { /*滚动条里面轨道*/
  width: 10px;
  border-radius: 4px;
}