@import "reset";
@import "icon";
@import url(./theme/dark/dark.scss);
@import url(./theme/default/light.scss);
@import url(./theme/pink.scss);

/* element-ui reset */
.el-input__inner, .el-textarea__inner {
  color: var(--primaryTextColor) !important;
  caret-color: var(--primaryTextColor);
  border: 0 !important;
  background-color: var(--lightBackgroundColor) !important;
}

.el-dialog {
  background-color: var(--lightBackgroundColor) !important;
}

.el-message-box {
  border: none !important;
  background-color: var(--n-color-bg-dialog) !important;

  .el-message-box__header {
    .el-message-box__title {
      color: var(--n-text-color);
    }

    .el-message-box__headerbtn {
      .el-message-box__close {
        color: var(--n-text-color);
      }
    }
  }

  .el-message-box__content {
    color: var(--n-text-color);
  }
}

.el-button {
  //  &:focus, &:hover {
  //    background-color: var(--n-color-hover) !important;
  //    color: var(--n-text-color-hover) !important;
  //    border-color: var(--n-border-hover) !important;
  //  }
  //
  //  &--primary {
  //    color: var(--n-color) !important;
  //    background-color: var(--n-btn-color-hover) !important;
  //    border-color: var(--n-btn-color-hover) !important;
  //
  //    &:hover, &:focus {
  //      background-color: var(--n-color-hover);
  //      color: var(--n-text-color-hover);
  //    }
  //  }
  //
  &--text {
    color: var(--primaryTextColor) !important;

    i {
      font-size: 20px;
    }
  }

  &.is-disabled {
    color: #C0C4CC !important;

    i {
      color: #C0C4CC !important;
    }
  }
}

@keyframes breathe {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes breathe {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}