:root {
  --n-disabled-color: #B8B8B8;

  --n-bg-color-base: #FFFFFF;
  --n-bg-color-light: #EFF0F7;
  --n-text-color: #000;
  --n-text-color-base: #132847;
  --n-text-color-light: rgb(51, 54, 57);
  --n-hover-bg-color: rgba(46, 51, 56, 0.05);

  --n-button-primary: #63e2b7;
  --n-button-primary-hover: #7fe7c4;

  --n-input-bg-color: rgb(220, 223, 230, 0.8);
  --n-border-color: rgb(220, 223, 230, 0.8);

  --n-color-bg-dialog: #ffffff;
  --n-color-modal: #ffffff;
  --n-progress-bar-color: #90CAF9;

  /* Tabs */
  --n-tabs-bg-color: #FAFAFA;
  --n-tabs-item-bg-color: #FFFFFF;
  --n-tabs-item-hover-bg-color: rgba(46, 51, 56, 0.09);


}