[nx-theme="dark"]:root {
  --n-bg-color: rgb(36, 38, 58);
  --n-bg-color-1: #14142b;

  --n-color-blue-1: #deebec;
  --n-color-blue-2: #bed9dd;
  --n-color-blue-3: #aecfd0;
  --n-color-blue-4: #73b3b2;
  --n-color-blue-5: #3c979f;

}