[nx-theme="dark"]:root {
  --primaryColor: #1E1E1E;
  --primaryTextColor: #D4D4D4;
  --secondaryTextColor: #D4D4D4;

  // 高亮色，相对于主色调
  --highlightColor: #1E1E1E;
  --deactiveTextColor: #D4D4D4;

  // --borderColor: rgb(218, 173, 173);

  --windowBorderColor: #1E1E1E;
  --windowTitleBarColor: rgb(60, 60, 60);
  --windowTitleBarDeactiveColor: #1E1E1E;
  --highlightItemColor: #ccc3;
  --hoverItemColor: #ccc3;
  --borderColor: #1E1E1E;
  --darkBorderColor: #ccc3;

  --backgroundColor: rgb(51, 51, 51);
  --lightBackgroundColor: rgb(37, 37, 38);
  --darkBackgroundColor: #1E1E1E;

  --disableColor: #007ACC;
  --successColor: #007ACC;
  --infoColor: #007ACC;
  --warningColor: #007ACC;
  --dangerColor: #007ACC;

  --btnPrimaryPlainBackgroundColor: #579dea;
  --btnPrimaryPlainColor: #D4D4D4;
  --btnPrimaryBackgroundColor: #579dea;
  --btnPrimaryHoverBackgroundColor: #579dea;

  --btnSuccessPlainBackgroundColor: #2AA19899;
  --btnSuccessPlainColor: #D4D4D4;
  --btnSuccessBackgroundColor: #579dea;
  --btnSuccessHoverBackgroundColor: #579dea;

  --btnInfoPlainBackgroundColor: #2AA19899;
  --btnInfoPlainColor: #D4D4D4;
  --btnInfoBackgroundColor: #579dea;
  --btnInfoHoverBackgroundColor: #579dea;

  --btnWarningPlainBackgroundColor: #2AA19899;
  --btnWarningPlainColor: #D4D4D4;
  --btnWarningBackgroundColor: #579dea;
  --btnWarningHoverBackgroundColor: #579dea;

  --btnDangerPlainBackgroundColor: #2AA19899;
  --btnDangerPlainColor: #D4D4D4;
  --btnDangerBackgroundColor: #579dea;
  --btnDangerHoverBackgroundColor: #579dea;

  --treeNodeInsertCurrentColor: #579dea;

  --gridviewSelectedBorderColor: #ccc3;
  --gridviewSelectedBackgroundColor: #00445488;
  --gridviewHoverBorderColor:  #004454AA;
  --gridviewHoverBackgroundColor:  #004454AA;

  --fileViewAddressHostBorderColor: #004454AA;
  --fileViewAddressHostBackgroundColor: #004454AA;
  --processBarColor: #047aa6;
}