[nx-theme="dark"]:root {
  --n-disabled-color: #B8B8B8;

  --n-bg-color-base: #18181c;
  --n-bg-color-light: #101014;
  --n-text-color: #000;
  --n-text-color-base: rgb(219, 223, 234);
  --n-text-color-light: rgb(217, 219, 233);
  --n-hover-bg-color: #24263a;

  --n-button-primary: #63e2b7;
  --n-button-primary-hover: #7fe7c4;

  --n-input-bg-color: rgba(255, 255, 255, 0.1);
  --n-border-color: rgba(255, 255, 255, 0.1);

  --n-color-bg-dialog: rgb(44, 44, 50);
  --n-color-modal: rgb(44, 44, 50);

  --n-progress-bar-color: #1976D2;

  /* Tabs */
  --n-tabs-bg-color: #101014;
  --n-tabs-item-bg-color: rgba(255, 255, 255, 0.08);
  --n-tabs-item-hover-bg-color: rgba(255, 255, 255, 0.12);
}